html, body {
  background-color: green;
  color: yellow;
  cursor: url('my-mouse-pointer.cur'),auto;
  height: 100%;
  width: 100%;
}

.container :hover {
  cursor: url('my-mouse-pointer.cur'),auto;
}

#results {
  display: none;
}

.error {
  display: none;
}
